@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&family=Montserrat:wght@400;500&family=Oswald:wght@400;500;600;700&family=Roboto:wght@500&display=swap');

/* Estilos para el contenedor principal */
body{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6f0288;
  box-sizing: border-box;

}
.container {
  min-width: auto;
  max-width: 769px;
  margin: 0 auto;
  padding: 30px 40px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: inset 0 0 -10px rgba(0, 0, 0, -0.4);
}

/* Estilos para el título */
h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: #5c0ed2;
}

/* Estilos para el formulario */
label {
  display: flex;
  justify-content: left;
  margin-bottom: 15px;
  font-weight: bold;
  color: #4f4e4e;
}

.container input[type="text"] {
  width: 18rem;
  max-width: 700px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

button {
  padding: 8px 18px;
  background-color: #5c0ed2;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  transition: all .2s;
}

button:hover {
  background-color: #8802a5;

}
button:active {
  transform: scale(.98);

}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
}

th, td {
  padding: 8px;
  text-align: left;

  
}
th:first-child{
  padding: 10px;
}

.first-row:first-child {
  background-color: #8802a5;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

/* Estilos para las filas impares de la tabla */
tr:nth-child(even) {
  background-color: #8802a5;
  color: white;
}



/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  body {
    align-items: flex-start;
  }

  .container {
    max-width: 100%;
    margin: 15px;
    padding: 25px;
  }

  h1 {
    font-size: 28px;
  }

  label {
    margin-bottom: 10px;
  }
}